body {
  font-family: 'Montserrat', Arial, sans-serif;
  background: #eaf5f9;
  margin: 0;
}

.hero {
  padding: 100px 0;
  text-align: center;
  background: linear-gradient(120deg,#01689b 50%, #22b0a5 100%);
  color: #fff;
}

.btn-hero,.btn-game {
  border: none;
  background: #fff;
  color: #228795;
  font-weight: 700;
  padding: 12px 36px;
  border-radius: 24px;
  font-size: 1.1rem;
  margin-top: 25px;
  cursor: pointer;
}

#gameContainer {
  max-width: 800px;
  margin: 2em auto;
  background: #fff;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#messageBox {
  margin: 1rem auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  color: #01689b;
}
